<a href="https://colab.research.google.com/github/hoonzi-s/PyData/blob/main/Ch06.%20Data%20Load%2C%20Save.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#**6.1** 텍스트 파일에서 데이터를 읽고 쓰는 법

In [ ]:
!cat /content/drive/MyDrive/pydata-book-3rd-edition/examples/ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/pydata-book-3rd-edition/examples/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
pd.read_table('/content/drive/MyDrive/pydata-book-3rd-edition/examples/ex1.csv', sep = ',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
!cat /content/drive/MyDrive/pydata-book-3rd-edition/examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [ ]:
pd.read_csv('/content/drive/MyDrive/pydata-book-3rd-edition/examples/ex2.csv', header = None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [ ]:
pd.read_csv('/content/drive/MyDrive/pydata-book-3rd-edition/examples/ex2.csv', names = ['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
!cat /content/drive/MyDrive/pydata-book-3rd-edition/examples/csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [ ]:
parsed = pd.read_csv('/content/drive/MyDrive/pydata-book-3rd-edition/examples/csv_mindex.csv', index_col = ['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [ ]:
list(open('/content/drive/MyDrive/pydata-book-3rd-edition/examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [ ]:
result = pd.read_table('/content/drive/MyDrive/pydata-book-3rd-edition/examples/ex3.txt', sep = '\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [ ]:
!cat /content/drive/MyDrive/pydata-book-3rd-edition/examples/ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [ ]:
pd.read_csv('/content/drive/MyDrive/pydata-book-3rd-edition/examples/ex4.csv', skiprows = [0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [3]:
!cat /content/drive/MyDrive/pydata-book-3rd-edition/examples/ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [4]:
result = pd.read_csv('/content/drive/MyDrive/pydata-book-3rd-edition/examples/ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [5]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [6]:
result = pd.read_csv('/content/drive/MyDrive/pydata-book-3rd-edition/examples/ex5.csv', na_values = ['ABC'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [8]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
pd.read_csv('/content/drive/MyDrive/pydata-book-3rd-edition/examples/ex5.csv', na_values = sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

##**6.1.1** 텍스트 파일 조금씩 읽어오기

In [9]:
pd.options.display.max_rows = 10